.search-no-found-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.search-not-found-heading {
  font-style: normal;
  font-weight: 500;
  color: #ffffff;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: black;
  margin-bottom: 60px;
  margin-top: 10px;
}
.search-not-found-image {
  height: 200px;
  margin-top: 200px;
  margin-bottom: 10px;
}

.search-results-container {
  background-color: #131313;
  min-height: 100vh;
}

.search-movie-list-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 0px;
  padding-left: 55px;
  text-align: center;
  list-style-type: none;
}

.search-movie-item {
  padding: 10px;
  list-style-type: none;
}

.search-poster {
  height: 100px;
  width: 90px;
}

@media screen and (min-width: 768px) {
  .search-not-found-heading {
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 24px;
    line-height: 31px;
  }

  .search-not-found-image {
    margin-top: 30px;
  }
}
